/*!general*/

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

h3 {
  text-align: center;
  margin-bottom: 5px;
}

h2{
    text-align: center;
}

h1 {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0px;
}

p {
  font-size: 20px;
  line-height: 32px;
  color: black;
}

.container {
  max-width: 1100px;
}

body {
  margin: 0;
}

/*!menu*/
.bg-custom{
    background-color: #19253D;
}

.navbar-brand{
    color: white;
}

.nav-link{
    color: white;
}

/*!backoffice*/

thead{
    background-color: #19253D;
    color: white;
}

#tableau h3{
    margin: 30px auto;
}

/*!supprimer*/

.supprimer{
    margin-top: 50px;
}

/*! ajout/modif */

h2 {
    margin-top: 30px;
}

.formulaire ul li{
    display: flex;
    flex-direction: column;
  
}

.formulaire ul li input{
    max-width: 200px;
}

.formulaire ul li select{
    max-width: 200px;
}

.buttons {
    min-width: 240px;
}

.buttons input{
    margin: 5px;
}

.buttons a{
  margin: 5px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.erreur{
  color: red;
  font-size: 12px;
}

/*!Modifier page d'acceuil*/

.form-group{
    text-align: center;
    margin-left: 25%;
    margin-right:25%;
}

.form-control{
    margin-top: 10px;

}
