body{
	background-image: url(../images/empty-elegant-background-with-copy-space-min.jpg);
	background-position: contain;
	background-size: 70%;
}

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#formulaire {
	font-family: 'Raleway', sans-serif;
}
#formulaire h1{
	text-align: center;
	color: #ff8846;
}
.booking-form {
	position: relative;
	max-width: 100vh;
	width: 100%;
	margin: auto;
	padding: 40px;
	overflow: hidden;
	background-image: url('../images/cantine.jpg');
	background-size: cover;
	border-radius: 5px;
	z-index: 20;
}

.booking-form::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

.booking-form .form-header {
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-header h1 {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 42px;
	margin: 0px;
	color: #fff;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: rgba(255, 255, 255, 0.2);
	height: 60px;
	padding: 0px 25px;
	border: none;
	border-radius: 40px;
	color: #fff;
	-webkit-box-shadow: 0px 0px 0px 2px transparent;
	box-shadow: 0px 0px 0px 2px transparent;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:focus {
	-webkit-box-shadow: 0px 0px 0px 2px #ff8846;
	box-shadow: 0px 0px 0px 2px #ff8846;
}

.booking-form input[type="date"].form-control {
	padding-top: 16px;
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form input[type="date"].form-control+.form-label {
	opacity: 1;
	top: 10px;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control:invalid {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form select.form-control option {
	color: #000;
}

.booking-form .form-label {
	position: absolute;
	top: -10px;
	left: 25px;
	opacity: 0;
	color: #ff8846;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	height: 15px;
	line-height: 15px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group.input-not-empty .form-control {
	padding-top: 16px;
}

.booking-form .form-group.input-not-empty .form-label {
	opacity: 1;
	top: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #e35e0a;
	font-weight: 700;
	height: 60px;
	padding: 10px 30px;
	width: 100%;
	border-radius: 40px;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1.3px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	margin-top: 5px;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}


.box-btns {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 
        4px 4px 4px 0px #d1d9e6 inset,
        -4px -4px 4px 0px #fff inset;
}
.box-btns h4{
    color: #ff8846;
}

.btn-groupe {
    width: 300px;
    margin: 8px 0;
}

.radio-btn-hide {
    position: absolute;
    top: -20px;
    right: -20px;
    pointer-events: none;
    opacity: 0;
}
.label-plus-btn {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #394a56;
}


input[type="radio"] {
	
  }
  
  label {
	position: relative;
	color: rgba(253, 253, 253, 0.788);;
  }
  
  label::before {
	content: "";
	background: url("../images/check.png");
	background-position: center;
	background-size: contain;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 60px;
	top: -7px;
  
	transform: scale(0) rotateZ(180deg);
	transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
  }
  
  input[type="radio"]:checked + label::before {
	transform: scale(1) rotateZ(0deg);
  }
  
  .rond::after {
	content: "";
	border:2px solid #ff8846;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 60px;
	top: -7px;
	border-radius: 50%;
  }

.form-control{
	
	color: #ff8846;
	
}


.raw{
	margin-top: 10%;
}


*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="datetime-local"]{
    background-color: #ff8846;
    position: absolute;
	height: 100%;
	width: 70%;
    transform: translate(90%,-90%);
    left: 50%;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.erreur{
	color:white;
}

.output{
	color:white;
}


#btn-retour{
	color: #fff;
	background-color: #e35e0a;
	font-weight: 700;
	height: 60px;
	border-radius: 40px;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1.3px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	
}

#btn-retour a{
	font-size: 20px;
}